[grafcli]
editor = vim
history = ~/.grafcli_history
verbose = off
force = on

[resources]
data-dir = ~/.grafcli

[hosts]
localhost = on

[localhost]
type = api
url = http://grafana:3000/api
user = admin
password = admin
